HELP.md
.gradle
product-catalog/build/
shopping-cart/build/
config-server/build/
service-discovery/build/
!product-catalog/gradle/wrapper/gradle-wrapper.jar
!shopping-cart/gradle/wrapper/gradle-wrapper.jar
!config-server/gradle/wrapper/gradle-wrapper.jar
!service-discovery/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.metadata
product-catalog.zip
config-server.zip

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
produt-catalog/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
product-catalog/nbproject/private/
product-catalog/nbbuild/
product-catalog/dist/
product-catalog/nbdist/
product-catalog/.nb-gradle/

### VS Code ###
product-catalog/.vscode/
